/* body {
            background-color: #ececec;
            padding: 0;
            margin: 0 auto;
            font-weight: 200;
            width: 100%!important
        } */


/* .header_text {
            text-align: center;
            /* font-weight: 200; */


/* font-family: Helvetica,
    Arial,
    sans-serif;
    margin: auto;
    margin-top: 20px;
} */


/* 
.name_clas {
    margin: 0%;
    padding: 0%;
}

.para_clas p {
    margin: 0%;
    padding: 0%;
}

.btn_sty button {
    background-color: #2d3748;
    color: white;
    border-radius: 7px;
    padding: 8px;
    font-weight: bold;
    font-size: large;
    margin: 25px;
}

.bodyfooter a {
    color: #a6b7e9;
    text-decoration: none;
}

.copyright_text {
    color: #426396;
    margin: auto;
    margin-top: 20px;
    font-size: 1em;
} */